@media screen, projection, print {
  html, input, textarea { font-family: arial,sans-serif; }
  html { line-height: 1.5; }
  body.rtl { direction: rtl; }
  body.rtl th { text-align: right; }
  h4, h5, h6, pre, table, input, textarea, code { font-size: 1em; }
  address, abbr, cite { font-style: normal; }
  table { border-collapse: collapse; border-spacing: 0pt; }
  th, td { padding-right: 1em; vertical-align: top; }
  th { text-align: left; }
  fieldset, iframe, img { border: 0pt none; }
  label { display: block; margin: 1em 0pt 0.3em; }
  q { quotes: none; }
}

@media screen, projection {
  * html { direction: ltr; }
  * + html { direction: ltr; }
  * + html body.rtl { max-width: none; }
  html, h1 img { background: none repeat scroll 0% 0% #FFFFFF; }
  html { color: #222222; font-size: 0.81em; }
  body, table, fieldset, #nav { margin: 0pt; }
  body { max-width: 1000px; padding: 15px; }
  body.rtl h1 img, body.rtl #nav { float: right; }
  body.rtl h1 img { margin: -13px -2px 0pt 0pt; padding: 0pt 0pt 0pt 12px; }
  body.rtl #nav ul, body.rtl #nav ol { margin: 0.7em 1em 0pt 0pt; }
  * html body.rtl #about li { margin: 0pt 0pt 0pt 1em; }
  * + html body.rtl #about li { margin: 0pt 0pt 0pt 1em; }
  body.rtl #aux { margin: 0pt 160px 0pt 0pt; }
  body.compact { margin: auto; width: 740px; }
  * > body.compact { max-width: 740px; width: auto; }
  body.product h1 { font-size: 1em; height: 1.93em; line-height: 1.5; margin: 0pt 0pt 0.54em; padding: 15px 0pt 0pt; }
  body.product h1 a:active img { left: auto; top: auto; }
  body.product #nav { width: 140px; }
  h1, h2 { line-height: 1.25; }
  h1, h5, h6, label input, #nav li a { font-weight: normal; }
  h1 { font-size: 1.85em; margin: 0pt 0pt 1em; padding: 13px 0pt 0pt; }
  h1 img, #nav { float: left; }
  h1 img { margin: -13px 0pt 0pt -2px; padding: 0pt 12px 0pt 0pt; position: relative; }
  h1 a:active img { left: 1px; top: 1px; }
  h2 { font-size: 1.23em; margin: 0pt 0pt 0.81em; }
  h3 { font-size: 1.08em; line-height: 1.2; margin: 1.4em 0pt 0.93em; }
  h4, h6 { margin: 1em 0pt -1em; }
  h5, p, pre, table, form { margin: 1em 0pt; }
  p + table, table + p { margin-top: 0pt; }
  blockquote, ul, ol { margin-bottom: 1em; margin-top: 1em; }
  pre, code { font: 13px/1.38 monospace; }
  pre { background: none repeat scroll 0% 0% #EEEEEE; border: 1px solid #CCCCCC; padding: 0.8em 1em; }
  fieldset, #nav, #nav ul, #nav ol { padding: 0pt; }
  legend { display: none; }
  label, #nav li { font-weight: bold; }
  a:link { color: #1111CC; }
  a:visited { color: #551A8B; }
  a:focus, a:active { color: #CC1111; }
  #about, #nav, #nav * { list-style: none outside none; }
  #about { border-top: 1px solid #CCCCCC; clear: both; color: #777777; margin: 2em 0pt 0pt; padding: 0.3em 0pt 0pt; }
  #about li { display: inline; }
  #about li:before { content: " ¡P "; }
  #about li:first-child:before { content: none; }
  * html #about li { margin: 0pt 1em 0pt 0pt; }
  * + html #about li { margin: 0pt 1em 0pt 0pt; }
  #nav { width: 142px; }
  #nav ul, #nav ol { margin: 0.7em 0pt 0pt 1em; }
  #nav li { margin: 0pt 0pt 0.7em; }
  #aux { margin: 0pt 0pt 0pt 160px; }
  #ja, #ko, #zh-CN, #zh-TW { line-height: 1.6; }
  #zh-CN, #zh-TW { font-size: 0.75em; }
  #zh-CN body.product h1, #zh-TW body.product h1 { font-size: 1.08em; }
  #zh-CN h1, #zh-TW h1 { font-size: 2em; }
  #zh-CN h2, #zh-TW h2 { font-size: 1.33em; }
  #zh-CN h3, #zh-TW h3 { font-size: 1.17em; }
}

@media screen and (max-width: 770px) {
  body.rtl #nav li { margin-left: 0.7em; margin-right: 0pt; }
  h1 img, #nav { float: none; }
  h1 img { display: block; }
  #nav { margin-bottom: 1em; width: auto ! important; }
  #nav li { display: inline; margin-right: 0.7em; }
  #aux { margin: 0pt; }
}

@media print {
  h1 img { display: block; }
  #nav { display: none; }
}
